$title_color: orange;

h1
{
    color: $title_color;
    text-align: center;
    font-family: Impact, Charcoal, sans-serif;

}

/*ul {
    font-size: 14px;
    color: $color;
}

ol {
    font-size: 18px;
    color: $color;
}*/
